{% extends "base.html" %}
{% load static %}

{% block title %}<title>Django seminars</title>{% endblock title %}

{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                    <span class="breadcrumb-item active">Orders</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Orders</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <h2>User</h2>
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.email }}</p>
                <br>
                <br>
                <br>
                {% for order in orders %}
                    <h2>order</h2>
                    <p>{{ order.date_ordered }}</p>
                    <p>{{ order.total_price }}</p>
                            <h3>Products</h3>
                            <p>{{ products.pop}}</p>
                    <br>
                    <br>
                {% endfor %}
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <a class="h4 text-primary bg-dark px-1" href="{% url 'seminar3' %}">Back</a>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock content %}

{% block footer %}
{% endblock footer %}